table {
  border-radius: 5px;
  border-collapse: collapse;
  margin: auto;
  margin-top: 10px;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 80%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
  background-color: #1d856b;
  color: #ffffff;
  text-align: left;
}

.dscproduct {
  text-align: left;
}

.price {
  text-align: right;
}

table th,
table td {
  padding: 12px 15px;
  text-align: center;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.btn {
  border: none;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-edit {
  color: #fff;
  border: 1px solid #fff;
  background-color: #bbbbbb;
}

.btn-delete {
  color: #fff;
  border: 1px solid #fff;
  background-color: #fc3729;
}

h2 {
  color: var(--text-title);
  font-size: 1.25rem;
}

.input-group {
  display: flex;
  gap: 0.25rem;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 16px;
}
.add-new-button {
  border-radius: 8px;
  border: 0;
  background: #009879;
  color: #fff;
  display: flex;
  flex-direction: row;

  padding: 14px;
  transition: filter 0.2s;
}

.add-new-button:hover {
  filter: brightness(0.95);
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #55d1b2;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #1d856b;
}

.form-body {
  background: #9ab1aba9;
  border-radius: 1rem;
  margin-top: 10rem;
  padding: 70px 60px;
}

button.submit-button {
  font-weight: 600;
  border-radius: 8px;
  border: 0;
  color: #fff;
  background-color: #1d856b;
  padding: 14px;
  transition: filter 0.2s;
}

button.submit-button:hover {
  filter: brightness(0.95);
}

button.cancel-btn {
  margin-right: 2px;
  font-weight: 600;
  border-radius: 8px;
  border: 0;
  color: #fff;
  background-color: #928e8e;
  padding: 14px;
  transition: filter 0.2s;
}

button.cancel-btn:hover {
  filter: brightness(0.95);
}
